@font-face {
    font-family: myFirstFont;
    src: url(FSEX300.ttf);
}

body {
  /*background-image: url("terminal.jpg");*/
  background-size: 100%;
  background-attachment: fixed;
  background-color: black;
  background-position: center;

}

main {
  margin: auto;
  width: 60%;
}

.header {
 width: 700px;
  padding: 2px;
  margin: auto;

}

.logo {
  width: 700px;
}

.input-container {
  border: 3px solid lime;
  border-left: 3px;
  border-right: 3px;
  border-bottom: 3px;
  width: 700px;
  padding: px;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.00);
  font: 30px 'myFirstFont', serif;
  color: #FAA934;
}

.input {
  border: 3px solid #FAA934;
  border-left: 3px;
  border-right: 3px;
  width: 700px;
  padding-top: 8px;
  margin: auto;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.00);
  font: 30px 'myFirstFont', serif;
  color: #FAA934;
  line-height: 70%;
}

.inputfont {
  font: 30px 'myFirstFont', serif;
  color: #FAA934;
  background-color: rgba(0, 0, 0, 0.00);
  border: 0px;
  width: 200px;

}

.submitfont {
  font: 30px 'myFirstFont', serif;
  background-color: rgba(0, 0, 0, 0.00);
  color: #FAA934;
  border: 0px;
}

/* Home container */
.home-container {
  border: 3px solid white;
  border-left: 3px;
  border-right: 3px;
  border-top: 3px;
  border-bottom: 3px;
  width: 500px;
  padding: 2px;
  margin: auto;
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.40);
}

.home-title {
  font: bold 30px 'Atomic Age', serif;
  color: white;
  text-align: center;
}

.home-info {
  font: 24px 'Atomic Age', serif;
  color: white;
  font-style: normal;
  letter-spacing: 1.5px;
}

.home-info-container {
  text-align: left;
  border: 3px solid white;
  border-top: px;
  border-right: 3px;
  border-bottom: px;
  border-left: 3px;
  width: auto;
  padding: 2px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.40);
  padding-left: 20px;
  padding-right: 20px;
} /* End of home container */

p {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2s steps(600, end);
  line-height: 90%;
}

p:nth-child(2){
  animation: type2 4s steps(600, end);
}

p:nth-child(3) {
  animation: type3 6.8s steps(600, end);
}

span {
  animation: blink 1s infinite;
}

.inputform {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 4fr;
}

label {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  justify-content: flex-start;
}

label p {
  width: auto;
}

.inputfont {
  width: 100%;
  margin: auto;
  grid-row: span 1;
  grid-column: span 1;
}

.inputfont:focus {
    outline: none;
}

@keyframes type{ 
  0%{width: 0;}
  100%{width: 100;}
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100;} 
} 

@keyframes type3 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100;}
}

@keyframes blink{
  to{opacity: .0;}
}